#advanced {
    background-color: #e6f2ff;
    border: 1px solid darkslateblue;
    border-radius: 5px;
}

.data {
    min-width: 720px;
    width: auto;
    max-height: 300px;
    height: auto;
    background-color: #f2f2f2;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 20px;    
    display: none;
    position: absolute;    
}

.item {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 5%;
    width: 100%;
    height: auto;
}

.margins {
    margin: 20px 20px 20px 20px;
}

.margins_sm {
    margin: 10px 10px 10px 10px;
}

.inputs {
    background-color:#f2f2f2;
    border: 1px solid darkslateblue;
    border-radius: 5px;
}

.borders {
    border: 2px solid #0080ff;
    border-radius: 5px;
}

.grid-item {
    width: 20%; 
}

.metad {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 300px;
}

.my_btn {
    position: absolute;
    right: 20px;
}

.text {
    position: absolute;
    display: block;
    overflow: auto;
}